

        html, body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center; 
            justify-content: center;
            
        }

        .login-section {
            width: 100%;
        }

        .left-column {

            background-color: #e9ecef;
            background-size: cover;
            background-position: center;
            min-height: 100vh; 
        }

        .login-form-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 100vh;
            padding: 2rem; 
        }

        @media (max-width: 991.98px) {
            .left-column, .login-form-container {
                min-height: auto;
            }
            .login-form-container {
                 padding-top: 2rem;
                 padding-bottom: 2rem;
            }
        }